name: CI

on:
  push:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build-lib:
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-14] #, windows-2022 ]
        jvm-version: [17, 21]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up JDK ${{ matrix.jvm-version }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: "temurin"
          java-version: ${{ matrix.jvm-version }}
      - name: Setup LLVM
        uses: aminya/setup-cpp@v1
        with:
          compiler: llvm-17
          make: true
          clang: true
      - name: Install Boehm GC on Ubuntu
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get update && sudo apt-get install -y libgc-dev
      - name: Set up Homebrew
        if: startsWith(matrix.os, 'macos')
        uses: Homebrew/actions/setup-homebrew@master
      - name: Install Boehm GC on MacOS
        if: startsWith(matrix.os, 'macos')
        run: brew install bdw-gc
      - name: Setup sbt launcher
        uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1
      - name: Build shared library
        run: sbt +test
      - name: QA
        run: sbt scalafmtCheckAll

  build-native-examples:
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-14] #, windows-2022 ]
        jvm-version: [17, 21]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up JDK ${{ matrix.jvm-version }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: "temurin"
          java-version: ${{ matrix.jvm-version }}
      - name: Setup LLVM
        uses: aminya/setup-cpp@v1
        with:
          compiler: llvm-17
          make: true
          clang: true
      - name: Install Boehm GC on Ubuntu
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get update && sudo apt-get install -y libgc-dev
      - name: Set up Homebrew
        if: startsWith(matrix.os, 'macos')
        uses: Homebrew/actions/setup-homebrew@master
      - name: Install Boehm GC on MacOS
        if: startsWith(matrix.os, 'macos')
        run: brew install bdw-gc
      - name: Setup sbt launcher
        uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1
      - name: Build native examples
        run: cd dap-native-examples && ./gradlew build
